{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Bienvenue !</h1>
        <p>Un mini framework avec les composants suivants :</p>
        <ul>
           <li>
               <a href="https://php-di.org/doc/">
                   Conteneur de services
               </a>
           </li>
           <li>
               <a href="https://github.com/mrjgreen/phroute">
                   Routeur
               </a>
           </li>
           <li>
               <a href="https://twig.symfony.com/doc/3.x/">
                   Moteur de templates
               </a>
           </li>
           </p>
           <p>
                <a href="{{ path('liste_ressources')}}">Liste des ressources</a>
            </p>
        </ul>
    </div>
{% endblock %}
