{% extends 'admin/base.html.twig' %}


{% block title %}Nouvelle catégorie{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Modifier la catégorie</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_categorie_ressource_create') }}"
               class="btn btn-sm btn-outline-success">
                Nouvelle catégorie
            </a>
            <a href="{{ path('admin_categorie_ressource_index') }}" class="btn btn-sm btn-outline-secondary">
                Retour à la liste
            </a>
        </div>
    </div>

    <form action="{{ path('admin_categorie_ressource_update', {'id': categorie.id}) }}" method="post">
        {% include 'admin/categorieRessource/_form.html.twig' %}
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" name="update_categorie" class="btn btn-warning">
                    Modifier
                </button>
                <a href="{{ path('admin_categorie_ressource_read', [categorie.id]) }}" class="btn btn-light">
                    Annuler
                </a>
            </div>
        </div>
    </form>
{% endblock %}
