<div class="row mb-3">
    <label for="inpuTitre" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-10">
        <input type="text" name="Titre" id="inputTitre"
               value="{{ ressource.titre }}">
    </div>
</div>
<div class="row mb-3">
    <label for="inputContenu" class="col-sm-2 col-form-label">Contenu</label>
    <div class="col-sm-10">
        <input type="text" name="contenu" id="inputContenu"
               value="{{ ressource.contenu }}">
        </div>
</div>
<div class="row mb-3">
    <label for="inputIdCreateur" class="col-sm-2 col-form-label">IdCreateur</label>
    <div class="col-sm-10">
        <input type="text" name="IdCreateur" id="inputIdCreateur"
               value="{{ ressource.idCreateur }}">
        </div>
</div>
