{# templates/test/foo.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <p>Foo !!!</p>
    <p>
        <a href="{{ path('test_index')}}">Page Index</a>
    </p>
</div>
{% endblock %}